<section class="main-login">
    <form class="login-wrapper" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">

        <h1>Login</h1>

        <mat-divider></mat-divider>

        <mat-form-field appearance="fill">
            <mat-label>Usuário</mat-label>
            <input matInput formControlName="email" placeholder="Digite seu e-mail">
            <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <mat-icon matSuffix>visibility</mat-icon>
            <input matInput formControlName="password" placeholder="Digite sua senha">
        </mat-form-field>

        <mat-divider></mat-divider>

        <button mat-raised-button color="primary" type="submit" [attr.disabled]="formPending ? 'disabled' : null">Entrar</button>
    </form>
</section>