<section class="main-login">
  <div class="login-wrapper">

    <h1>Login</h1>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput>
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <mat-icon matSuffix>visibility</mat-icon>
      <input matInput>
    </mat-form-field>

    <mat-divider></mat-divider>

    <button mat-raised-button color="primary" routerLink="/schedule" routerLinkActive="active">Entrar</button>

  </div>
</section>