@import '~sass-mediaquery-singleline/main';
$mobileSize: 375;

:host {
    display: flex;;
    flex-direction: column;
    @include attr(align-items, center);

    .restaurants-list {
        position: relative;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include attr(padding-top, 20, 20);
        @include attr(padding-bottom, 20, 20);
        @include attr(padding-left, 50, 30);
        @include attr(padding-right, 50, 30);
        @include attr(margin-bottom, 20, 20);
        border-radius: 3%;
        @include attr(max-width, 90%, 75%, true);

        &>mat-label {
            font-style: italic;
            font-weight: 100;
            cursor: not-allowed;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            li {
                transition: opacity 0.3s ease-in-out;

                &:not(:last-child) {
                    @include attr(margin-right, 20, 10);
                }

                &.already-votted {
                    pointer-events: none;
                    color: gray;
                    font-weight: 100;
                }

                &:hover {
                    opacity: 0.8;
                }

                mat-label {
                    cursor: pointer;
                }
            }
        }

        mat-icon {
            position: absolute;
            @include attr(left, 10, 10);
            cursor: help;
        }
    }

    mwl-calendar-month-view {
        width: 100%;

        ::ng-deep mwl-calendar-month-cell {
            cursor: no-drop !important;

            &.active {
                cursor: grab !important;
                background-color: gold !important;

                .cal-cell-top {
                    .poll-text {
                        font-weight: bold;
                        font-style: normal;
                        // @include attr(font-size, 16, 16);
                    }
                }
            }

            .cal-cell-top {
                position: relative;

                .cal-day-badge {
                    @include attr(padding-top, false, 3);
                    @include attr(padding-bottom, false, 3);
                    @include attr(padding-left, false, 3);
                    @include attr(padding-right, false, 3);
                    @include attr(margin-top, false, 3);
                    @include attr(margin-left, false, 3);
                    @include attr(min-width, false, 10);
                    @include attr(border-radius, false, 50%, true);
                }

                .cal-day-number {
                    @include attr(margin-top, false, 3);
                    @include attr(margin-right, false, 3);
                    @include attr(margin-bottom, false, 0);
                    @include attr(font-size, false, 16);
                }

                .poll-text {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    font-style: italic;
                    transform: translateX(-50%);
                    line-height: 1;
                    text-align: center;
                    @include attr(font-size, 14, 8);
                    @include attr(margin-top, 15, 20);
                }

                .poll-winner {
                    position: absolute;
                    @include attr(top, 70%, 75%, true);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include attr(font-size, 20, 20);
                    font-weight: bold;
                    font-style: italic;
                    @include attr(font-size, false, 12);
                    text-align: center;
                    // @include attr(text-align, false, center);
                    width: 100%;
                    // @include attr(width, false, 100%, true);
                    @include attr(padding-left, false, 3);
                    @include attr(padding-right, false, 3);
                    @include attr(line-height, false, 1.1, true);
                }
            }

            .cell-totals {
                display: flex;
                justify-content: center;
                @include attr(margin-bottom, 5);
                @include attr(padding-right, false, 3);
                @include attr(padding-left, false, 3);

                .badge {
                    @include attr(padding-top, 5, 3);
                    @include attr(padding-bottom, 5, 3);
                    @include attr(padding-left, 10, 5);
                    @include attr(padding-right, 10, 5);
                    font-weight: 700;
                    border-radius: 50% 10%;

                    &:not(:last-child) {
                        @include attr(margin-right, 10);
                    }

                    &.red {
                        background-color: red;
                        color: white;
                    }

                    &.blue {
                        background-color: blue;
                        color: white;
                    }

                    &.brown {
                        background-color: brown;
                        color: white;
                    }

                    &.green {
                        background-color: green;
                        color: white;
                    }

                    &.yellow {
                        background-color: yellow;
                        color: black;
                    }

                    &.pink {
                        background-color: pink;
                        color: white;
                    }

                    &.orange {
                        background-color: orange;
                        color: white;
                    }

                    &.purple {
                        background-color: purple;
                        color: white;
                    }

                    &.black {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }

    ::ng-deep mwl-calendar-month-view-header {
        .cal-header {
            .cal-cell {
                text-transform: uppercase;
                @include attr(font-size, 16, 9);
            }
        }
    }
}